   
  /* 고객센터 페이지 ( 게시판 ) 추가 css 시작 -------------------------------------------- */
  
  .board-search-div{
    display: flex;
    justify-content: flex-end;
  }
  
  .board-input-div{
    display: flex;
    justify-content: flex-end;
  }
  
  .board-write-btn{
    border-radius: 5px;
  }
  
  /* 고객센터 페이지 ( 게시판 ) 추가 css 종료 -------------------------------------------- */