/* 회원가입 페이지 추가 css 시작 -------------------------------------------- */
  .term-div{
    display: inline-block;
    margin-bottom: 1%;
  }
  
  .term-icon{
    width: 10px;
  }
  
  #pwdWrong{
  	display: none;
  }
  
  #memberJoin{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}
#mail-Check-Btn{
	color: #fff !important;
    background-color: rgb(238, 109, 109) !important;
    border: none !important;
    border-radius: 10px !important;
}

#userEmail2{
	outline: none;
    border: 1px solid black;
    border-radius: 20px;
    margin-left: 10px;
}
  
  /* 회원가입 페이지 추가 css 종료 -------------------------------------------- */